use Mix.Config

config :poscaster, Poscaster.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "poscaster",
  hostname: "localhost",
  pool_size: 10
