use Mix.Config

config :poscaster, Poscaster.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "poscaster_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
